:root{
    --blue: #031827;
    --desaturated-white: #D9DED7;
    --blue-green: #6BA6AE;
    --dark-blue-green: #397e7b;
    --green-dark: #033235;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/photo-1513343041531-f73bffeed81b.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 72%;
    color: white;
    margin: 2rem auto;
    text-align: center;
}

main{
    width: 34%;
    margin: 4rem auto;
}
#gradient-circle{
    /* width: 80%; */
    min-height: 57vh;
    border-radius: 50%;
    background-image: conic-gradient(var(--dark-blue-green) 0deg, var(--dark-blue-green) 135deg, var(--desaturated-white) 135deg, var(--desaturated-white) 225deg, var(--green-dark) 225deg, var(--green-dark) 360deg );
    padding: 1.2rem;
}

#inner-circle{
    width: 100%;
    min-height: 54vh;
    border-radius: 50%;
    background-color: var(--blue);
    /* z-index: 2; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pointer{
    position: relative;
    top: -9px;
    left: 210px;
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 50%;
    filter: brightness(1.5);
    animation-name: rotate;
    animation-duration: 4s;
}