@import 'slider';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.hide{display: none;}
.video-player{
    width: 63%;
    margin: 4rem auto;
    // border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
video{
    width: 100%;
}
.controls{
    visibility: hidden;
    // opacity: 0.4;
    width: 100%;
    display: flex;
    gap: 0.5rem
}
button, .controls {
    background: linear-gradient(to bottom,#222,#666);
  }

.timer{
    flex: 5;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
span{
    color: white;
}
button{
    border: none;
    width: 4%;
}